* {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;

    touch-action:manipulation;
    
}

body {
    background-color:rgb(20,20,20);
}
